@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #2C3E50
}

/* ------------------ Heading and Logo  -------------*/

h1 {
    font-family: Open Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #138D75 ;
}

#logo{
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

/* ------------------ Navigation Links ----------------*/

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #138D75;
}

.active {
    border-bottom: #138D75;
}

/* -------------- Images and cover Text-------------- */

#tropical-fruits {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-img-bg {
    height: 600px;
    width: 100%;
    overflow: hidden;
    background: url('../images/pineapple-bananas.jpg') no-repeat center center;
    background-size: cover;
}

#cover-text, #cover-text h3 {
    color: rgb(31, 31, 32);
}

#img-artichoke-bg {
    overflow: hidden;
    background: url('../images/artichoke.jpg') no-repeat;
 
}

/* ---------------- Text About ------------------------ */

#title-text-center {
    text-align: center; 
    margin: 20px 0;
    font-size: 200%;
}

#container-text-one {
   font-size: 100%;
   font-family: Open Sans, sans-serif;
   letter-spacing: 3px;

   height: 250px;
   overflow: hidden;
   position: relative;

   text-align: center;
    
   width: 90%; 
   margin: 50px;
   padding: 20px 20px 5px 20px;

   border: solid 2px;
   border-radius: 5px;
   color: #2D3E50;
   box-sizing: border-box;

   /*display: inline-block;*/
   background-color: rgba(211, 141, 154, 0.568);
   clear: both;
}

#container-text-one > p {
    text-align: left;
    margin: 20px 20px 20px 20px;
}

#container-text-two {
   font-size: 100%;
   font-family: Open Sans, sans-serif;
   letter-spacing: 3px;

   height: 210px;
   overflow: hidden;

   text-align: center;
   position: relative;
   width: 90%;
   margin: 50px;
   padding: 20px 20px 20px 20px;
    
   /*display: inline-block;*/
   background-color: rgba(211, 141, 154, 0.568);

   border: solid 2px;
   border-radius: 5px;
   color: #2D3E50;
   box-sizing: border-box;
}

#container-text-two > p {
    text-align: center;
    margin: 20px 20px 20px 20px;
}


hr {
    border-top: 1px solid #2C3E50;
    width: 100%;
    margin: 5px 0;
}


#cover-text {
    font-size: 130%;
    font-family: Open Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;

    width: 300px;
    height: 200px;

    padding-top: 35px;
    padding-left: 20px;

    background-color: rgb(255, 204, 204, .7);

    bottom: 30px;
    left: 300px;

    position: absolute;
}
/* ---------- video   ------------- */ 
#video {
    width: 100%;
    height: 30px;
    padding: 35px;
    margin: 20px 0 20px 0;
}

.fibers-video {
    margin-right: 60px;
    padding: 20px;
}

#title-video {
    width: 100%;
    height: 30px;
    text-align: center;
    margin: 30px 0 20px 0;
    padding: 20px;
}