@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #2C3E50
}

/* heading and logo */
h1 {
    font-family: Open Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #138D75 ;
}

#logo{
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #138D75;
}

.active {
    border-bottom: #138D75;
}

/* pineappleImage */

#pineapple {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#pineappleImage {
    height: 600px;
    width: 100%;
    background: url('../images/pexels-shvets-production-7195230.jpg') no-repeat center center;
}

/* text */

#text {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: royalblue;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: salmon;
}
#center-about {
    width: 33%;
    margin: 0 auto;
    background-color: red;
}